    <footer class="footer">
      <div class="container">
        <p class="text-muted">
            &copy; 2016 <a href="/">Python2Sites</a>
            <a href="/rss/">Rss <i class="fa fa-rss" aria-hidden="true"></i></a>
            Python Software Foundation  <img src="http://mesebilisim.com/static/images/python-logo-master-v3-TM-flat.png">
            Django is a registered trademark of the Django Software Foundation. <img src="http://rommap.com/static/img/django-logo.png">
        </p>
      </div>
    </footer>