    <footer class="footer">
      <div class="container">
        <p class="text-muted">
            &copy; 2016 <a href="/">Python2Sites</a>
            <a href="/rss/">Rss <i class="fa fa-rss" aria-hidden="true"></i></a>
            <a href="/sitemap.xml">Sitemap <i class="fa fa-sitemap" aria-hidden="true"></i></a>
            Python Software Foundation  <img src="/static/images/python-logo-master-v3-TM-flat.png">
            Django is a registered trademark of the Django Software Foundation. <img src="/static/images/django-logo-positive.png">
        </p>
      </div>
    </footer>
